@font-face {
    font-family: RobotoMono;
    src: url("/static/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: WaterBrush;
    src: url("/static/fonts/WaterBrush-Regular.ttf");
}

* {
    font-family: RobotoMono;
}

.the-books {
    font-family: WaterBrush;
}

li > a.nav-link:hover{
    font-family: WaterBrush;
    transition: 0.2s linear;
}

li > a.nav-link:focus {
    font-family: WaterBrush;
    transition: 0.2s linear;
    box-shadow: none;
}

.book-card:hover {
    scale: 103%;
    transition: 0.2s linear;
}

.item-focus {
    font-weight: bold;
    font-family: WaterBrush;
    color: aquamarine;
}

li.page-item:hover {
    background-color: cadetblue;
}