{% extends 'layout/base.html' %}

{% block title %} Trang chủ {% endblock %}
{% block content %}
<!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/thebooks/static/images/890x396-_Album_Truong_le_son.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/thebooks/static/images/Banner_dan_kinh_Sach_Dien_Tu_890x396px-01__2_.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/thebooks/static/images/Banner_Lich_2024_890x396px-01.jpg" class="d-block w-100"
                        alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> -->

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row mt-2 justify-content-center">
        {% for s in sach %}
        <div class="book-card col-xs-12 col-md-3 card me-4 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/tro-ve-khong-trai-nghiem-ho-oponopono.jpg') }}"
                 style="width: 16rem;" class="card-img-top align-self-center" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{s.ten}}</h5>
                <h6 class="card-text">Tác giả:
                    {% for tg in s.tac_gias %}
                    <span class="d-block">{{ tg }}</span>
                    {% endfor %}
                </h6>
                <p class="card-text">{{s.gia}} VNĐ</p>
                <a href="#" class="btn btn-primary">Buy</a>
                <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

