<header class="text-bg-dark shadow-sm bg-body rounded">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start py-3">
            <a href="/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-1 the-books">The Books</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="item-focus nav-link px-3 text-dark fs-5">Trang chủ</a></li>
                <li class="dropdown">
                    <a href="javascript:;" class="nav-link px-3 text-dark fs-5 btn dropdown-toggle" role="button"
                       data-bs-toggle="dropdown">Thể loại</a>
                    <ul class="dropdown-menu">
                        {% for t in the_loai %}
                        <li><a class="dropdown-item" href="/?the_loai_id={{ t.id }}">{{ t.ten }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <div class="px-3 py-1 mx-2 fs-4 position-relative">
                <a href="/gio_hang"><i class="fs-3 fa-solid fa-cart-shopping"></i></a>
                <span class="fs-6 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span class="cart-count">{{ thong_tin_gio_hang.tong_so_luong }}</span>
                </span>
            </div>

            {% if current_user.is_authenticated %}
            <div class="flex-shrink-0 dropdown ms-5">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ current_user.khach_hang.avatar }}" alt="mdo" width="50" height="50"
                         class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="#">{{ current_user.ten }}</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div class="text-end ms-5">
                <a href="/login" type="button" class="btn btn-outline-dark me-2">Login</a>
                <a href="/register" class="btn btn-warning">Sign-up</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>